.bank-transfer-container{
    width: 100%;
    margin-top: 20px;
}
.bank-tf-wrapper{
    width: 100%;
}
.bank-transfer-container input{
    width: 100%;
    max-width: 500px;
    height: 30px;
    text-indent: 5px;
    font-size: 15px;
    outline: none;
    border: 1px solid lightgray;
}
.bank-transfer-container input:hover{
    border-color: #0052FF;
}
.copyBtn{
    cursor: pointer;
}
.bank-tf-wrapper label{
    display: flex;
    flex-direction: column;
}
.copy{
    margin-top: 20px;
}
.account-name{
    display: flex;
    align-items: center;
}
.copy input{
    margin-top: 10px;
}
.copy-container{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.copyBtn{
    /* padding: 5px; */
    width: 20px;
    padding: 6px 4px;
    font-size: 14px;
    height: 20px;
    border: 1px solid lightgray;
    position: relative;
    top: 5px;
}
.copyBtn:hover{
    color: #0052FF;
}
.simple_note{
    margin-top: 20px;
}
.copy-text{
    color: green;
    padding: 5px;
    /* width:20px; */
    background-color: rgb(184, 248, 184);
    border-radius: 3px;
    position: relative;
    right: -35%;
}
/* @media screen and (min-width:) */