.passwrd-stt-con{
  padding: 20px;
}
.sm-passwrd-con{
    width: 93%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    border: 1px solid lightgray;
}
.sm-passwrd-con p{
    color: gray;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
}
.sm-passwrd-con button{
    padding: 7px 20px;
    border-radius: 10px;
    height: 30px;
    border: 1px solid lightgray;
    background-color: #d6d7da;
    color: #0052FF;
    outline: none;
}
.passwrd-stt-box input{
    border: 1px solid lightgray;
    outline: none;
    text-indent: 5px;
    height: 30px;
}
.passwrd-stt-box input:hover{
    border-color: #0052FF;
}
@media screen and (max-width:525px) {
    .passwrd-stt-con{
        padding: 5px;
    }
    .sm-passwrd-con{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .sm-passwrd-con button{
        margin-top: 14px;
    }
}
.passwrd-stt-box{
    margin-top: 20px;
}
.rq{
    color: green;
}
.reset-email, .reset-password{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}