@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

.ld-page .intro, .portfolio, .explore, .faq{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: Sansita;
}
.ld-page p{
    color: gray;
    font-family: Sansita;
}
.intro{
    margin-top: 100px;
}
.intro-con{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-con, .expl-con{
    width: 100%;
    max-width: 1100px;
}
.intro-text{
    max-width: 480px;
}
.intro-text h2{
    font-size: 3.2rem;
    letter-spacing: 1px;
}
.intro-text p{
    font-weight: 500;
     margin-top: 15px;
}
.signup{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.signup input{
    width: 58%;
    height: 38px;
    outline: none;
    border: 1px solid gray;
    text-indent: 5px;
    font-size: 17px;
}
.signup input:hover{
    border: 1px solid #0052FF;
}
.signup button, .btn{
    text-decoration: none;
    height: 42px;
    width: 30%;
    background-color: #0052FF;
    border: none;
    outline: none;
    color: #fff;
}
button .link{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width:930px){
    .intro-text h2{
        font-size: 2.7rem;
    }
}
@media screen and (max-width:500px) {
    .intro-con{
        /* max-width: 450px; */
        padding: 12px;
        display: flex;
        flex-direction: column;
    }
    .intro-text h2{
        font-size: 2rem;
    }
    .intro-image{
        /* display: none; */
        margin-top: 20px;
        transform: scale(0.8);
    }
    .signup input{
        width: 70%;
    }
}
@media screen and (max-width:800px){
    .intro-con{
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
.abt{
    background-color: #0052FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.abt-con{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}
.abt-dt span{
    font-size: 2rem;
    color: #fff;
}
.abt-dt p{
    color: lightgray;
    font-size: 13px;
}
@media screen and (max-width:500px){
    .abt-dt span{
        font-size: 1.8rem;
    }
}
.portfolio, .explore{
    flex-direction: column;
    margin-bottom: 50px;
    padding: 20px;
}
.pf-text{
    max-width: 700px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.pf-text h2{
   font-size: 2.5rem;
   margin-bottom: 20px;
}
.pf-image{
    width: 100%;
    max-width: 700px;
    margin-right: -250px;
}
.pff{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
}
@media screen and (max-width:600px) {
    .intro-text h2{
        font-size: 2rem;
    }
     .portfolio h2{
        font-size: 1.7rem;
    }
    .intro-text p{
        font-size: 14px;
    }
}
@media screen and (max-width: 400px){
    .intro-text h2{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:960px){
    .pff{
        display: flex;
        flex-direction: column;
    }
    .pf-image{
        margin: 0;
        max-width: 600px;
    }
}
.stps-con{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.stps{
    display: flex;
    padding: 20px;
    /* box-shadow: 0 0 10px lightgray; */
    min-height: 60px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px ; 
    margin-bottom: 10px ; 
    margin-left: -40px;
}
.stps h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}
.stps p{
    width: 100%;
    max-width: 320px;
}
.stps-text{
    max-width: 360px;
}

@media screen and (max-width: 1099px){
    .stps-con{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.expl-con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
h2{
    text-align: center;
}
.expl-boxs{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.expl-box{
    width: 100%;
    max-width: 260px;
    padding: 20px;
    transition: all .3s ease-in-out;
    background-color: #f9f9f9;
    margin: 20px;
}
.expl-box:hover{
    box-shadow: 0 0 10px lightgray;
}
.expl-box h4, .expl-box p{
    margin-bottom: 15px;
}
.expl-box p{
    font-size: 14px;
}
.expl-box a{
    color: #0052FF;
    text-decoration: none;
}
@media screen and (max-width:1010px){
    .expl-boxs{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
} 
.strt, .strt-con, .strt-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.strt-con{
    margin-top: 40px;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}
.strt-boxs{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.strt-box{
    flex-direction: column;
}
.strt-box span{
     margin-top: 15px;
     font-family:Sansita;
}
.icn{
    color: #0052FF;
    font-size: 2rem;
}
@media screen and (max-width:500px){
    .stps{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stps h3{
        text-align: center;
        font-size: 1.2rem;
    }
    .stps-text h2{
        font-size: 1.1rem;
    }
    .stps p{
        text-align: center;
    }
}
@media screen and (max-width:470px){
    .stb3{
        margin-top: 25px;
    }
}
@media screen and (max-width:323px){
    .stb2{
        margin-top: 25px;
    }
}
.faq-con{
    display:flex ;
    flex-direction: column;
    max-width: 1000px;
}
.faq-box{
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.faq-boxs{
    width: 100%;
    max-width: 300px;
    padding: 20px;
    margin:15px;
    background-color: #f9f9f9;
    min-height: 140px;
}
.faq-boxs h3{
    margin-bottom: 10px;
}
.faq-boxs p{
    font-size: 14px;
}
@media screen and (max-width: 720px){
    .faq-boxs{
        max-width: 260px;
    }
    .stps-con{
        padding: 10px;
    }
}
@media screen and (max-width: 640px){
    .faq-boxs{
        max-width: 240px;
        margin: 10px;
    }
    .faq-boxs h3{
        font-size: 1rem;
    }
}
@media screen and (max-width: 580px){
    .faq-boxs{
        max-width: 200px;
        margin: 10px;
    }
}
@media screen and (max-width: 510px){
    .faq-boxs{
        max-width: 170px;
        margin: 10px;
    }
}
@media screen and (max-width: 450px){
    .faq-boxs{
        max-width: 140px;
        margin: 10px;
    }
}
@media screen and (max-width: 400px){
    .faq-box{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .faq-boxs{
        max-width: 300px;
        margin: 7px;
        padding: 10px;
    }
}
.Ft{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #151515;
    color: #fff;
}
.ft-con{
    display: flex;
    flex-direction: column;
}
.ld-page .ft{
    text-align: center;
    font-family: Sansita;
    text-decoration: none;
    margin-top:20px;
}
footer a{
    text-decoration: none;
    color: #0052FF;
}
@media screen and (max-width:600px){
    .m-ft{
        display: none;
    }
}
.get-started{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: Sansita;
    width: 100%;
}
.get-started-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-started-container .btn{
    width: 100%;
    padding: 10px 40px;
    font-size: 1rem;
    margin-top: 35px;
    max-width: 300px;
    border-radius: 10px;
}
@media screen and (max-width:600px) {
    .locations{
        padding: 10px;
    }
}
.locations{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.map-image{
    width: 100%;
    max-width: 1200px;
}
.map-img{
    width: 100%;
    height: 100%;
}
.loc-txt{
    text-align: center;
    margin-bottom: 20px;
}
.crypto-chart{
    margin-top: 35px;
    font-family: Sansita;
    display: flex;
    justify-content: center;
}
.crypto-cn{
    width: 100%;
    max-width: 1000px;
}
.lp-crypto-chart{
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 1px;
    /* align-items: center; */
    /* justify-content: center; */
}
.zues-mining{
  padding: 60px 20px;
  font-family: Sansita;
  display: flex;
  justify-content: center;
  background-color: #0f293b;
}
.mining-con{
    width: 100%;
    max-width: 1100px;
}
.mining-txt h2{
   font-size: 1.7rem;
}
.mining-txt p{
    text-align: center;
    margin-top: 3px;
}
.main-mining-con{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
@media screen and (max-width:600px) {
    .zues-mining{
        padding:60px 10px;
    }
}
@media screen and (max-width:500px){
    .ld-page h2{
        font-size: 1.5rem;
    }
}
.testimonies-con{
    margin:30px 20px;
}
.testimonies-con p{
    text-align: center;
    margin-top: 5px;
}