.activity-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20rem;
    padding: 2rem 0 0 0;
    color: #212121;
    padding: 15px;
    border-radius: 1rem;
    box-shadow:0 0 10px lightgray;
}
.activity-container .chart{
    height: 200px;
}
.activity-container .rechart-default-tooltip{
    background-color: #212121 !important;
}
.activity-container .top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}
.activity-container .recharts-layer{
    color: #0052FF;
    background-color: #0052FF;
}
.top-info h1{
    font-size: 2rem;
}
.activity-container .top-info .growth{
    background-color: #d7e41e1d;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.activity-container .top-info .growth:hover{
    background-color: #9ab7f7;
    color: #212121;
}